.header__lang-link {
    color: #FFFFFF;
    bottom: 0;
    max-width: 22px;
    display: inline-block;
    font-style: Regular;
    font-size: 1.2rem;
    line-height: 1.1;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 540px) {
    .header__lang-link {
      font-size: 1.2rem;
      line-height: 1.1;
    }
  }
  
  .header__lang-link:last-child {
    text-decoration: none;
    padding-left: 18px;
  }
  
  
  .header__lang-link:hover {
    display: block;
    text-decoration-line: underline;
    text-decoration-color: blue;
  }