.place__title {
    max-width: 460px;
    width: 100%;
    color: #FFFFFF;
    line-height: 1;
    font-weight: 900;
    font-size: 4.5rem;
    font-style: inter-black;
    margin: auto;
    align-content: baseline;
    padding-bottom: 0;
    bottom: 0;
  }
  
  @media screen and (max-width: 1279px) {
    .place__title {
      max-width: 440px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__title {
      max-width: 340px;
      font-size: 2.6rem;
      line-height: 1.1;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place__title {
      width: 90%;
      font-size: 2rem;
      line-height: 1;
    }
  }