.place__title {
    max-width: 460px;
    width: 100%;
    color: #FFFFFF;
    line-height: 1;
    font-weight: 900;
    font-size: 72px;
    margin: 0;
  }
  
  @media screen and (max-width: 1279px) {
    .place__title {
      max-width: 440px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__title {
      font-size: 42px;
      line-height: 1.06;
      align-items: end;
      align-content: end;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place__title {
      width: 90%;
      font-size: 32px;
      line-height: 1;
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  @media screen and (max-width: 540px) {
    .place__title {
      font-size: 32px;
      line-height: 1.09;
    }
  }