.cover__subtitle {
    width: 30.4%;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
    font-style: regular;
    padding-top: 32px;
    z-index: 2;
  }
  
  @media screen and (max-width: 1279px) {
    .cover__subtitle {
      width: 35.15%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover__subtitle {
      width: 46.93%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover__subtitle {
      width: 90%;
      font-size: 14px;
      line-height: 1.1;
    }
  }

  @media screen and (max-width: 540px) {
    .cover__subtitle {
      width: 90%;
      padding-top: 16px;
    }
  }