.intro {
    max-width: 690px;
    width: 100%;
    color: #FFFFFF;
    margin: 92px 148px 0 148px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
  }
  
  @media screen and (max-width: 1279px) {
    .intro {
      margin: 0 286px 92px 48px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .intro {
      max-width: 720px;
      margin: 88px 24px 0 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .intro {
      width: 90%;
      margin: 64px 16px 0 16px;
    }
  }