.lead__subtitle {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    font-style: regular;
    padding-bottom: 64px;
  }
  
  @media screen and (max-width: 1279px) {
    .lead__subtitle {
      width: 68.96%;
      padding-bottom: 56px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .lead__subtitle {
      width: 83.44%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__subtitle {
      width: 90%;
      font-size: 16px;
      line-height: 1.25;
      padding-bottom: 40px;
    }
  }