.place__title_first {
    max-width: 460px;
    color: #FFFFFF;
    line-height: 1.06;
    font-weight: 900;
    font-size: 72px;
    text-align: left;
    vertical-align: top;
    margin: 0;
  }
  
  @media screen and (max-width: 1279px) {
    .place__title_first {
      max-width: 440px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__title_first {
      max-width: 340px;
      font-size: 42px;
      line-height: 1.1;
      letter-spacing: 1px;
    }
  }

  @media screen and (max-width: 767px) {
    .place__title_first {
      width: 90%;
      font-size: 32px;
      line-height: 1.09;
      padding-right: 16px;
      padding-left: 16px;
    }
  }