.lead__caption {
    margin: 0;
    width: 16%;
    font-size: 0.6rem;
    line-height: 1.4;
    font-style: regular;
    padding-top: 8px;
    text-align: left;
  }
  
  @media screen and (max-width: 1279px) {
    .lead__caption {
      width: 17%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .lead__caption {
      width: 20.5%;
      padding: 8px 586px 0 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__caption {
      width: 49.37%;
      padding: 8px 146px 0 16px;
    }
  }