.lead__image-group {
    width: 95.23%;
    padding: 90.21px 0 261.8px 0;
  }
  
  @media screen and (max-width: 1279px) {
    .lead__image-group {
      padding: 85.07px 0 246.9px 0;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .lead__image-group {
      padding: 70.41px 0 204.33px 0;
    }
  }
  
   @media screen and (max-width: 767px) {
    .lead__image-group {
      padding: 49.34px 0 143.14px 0;
    }
  }

  @media screen and (max-width: 540px) {
    .lead__image-group {
      padding: 29.34px 0 85.14px 0;
    }
  }