.footer {
    max-height: 18px;
    width: 92.5%;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    margin: 0 48px 24px 48px;
    padding-bottom: 0;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 1023px) {
    .footer {
      width: 90.71%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      width: 93.87%;
      margin: 0 24px 24px 24px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .footer {
      width: 58.12%;
      min-height: 310px;
      flex-direction: column;
      margin: 64px 118px 24px 16px;
    }
  }