.place__website {
    margin: 0;
    width: 100%;
    max-width: 456px;
    display: flex;
    flex-direction: column;
    padding: 0 28px 0 40px;
    justify-content: end;
  }
  
  @media screen and (max-width: 1279px) {
    .place__website {
      padding: 0 0 0 32px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__website {
      max-width: 352px;
      padding: 0 0 0 28px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place__website {
      width: 90%;
      padding: 32px 16px 0 16px;
    }
  }

  @media screen and (max-width: 540px) {
    .place__website {
      padding: 32px 16px 0 16px;
    }
  }